<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <div class='well'>
        <div class='form-group'>
          <%= f.label 'First Name' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label 'Last Name' %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label 'Email' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class='form-group'>
        <%= f.label 'password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label 'Password Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
     </div>
    </div>
  </div>
<% end %>