<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
 
  <h2 class="page-header"> Reviews </h2>
    <div class="well">
      <%= form_for :review, url: '/products/:product_id/reviews' do |f| %>
        <div class="form-group">
          <%= f.label 'Description' %>
          <%= f.text_area :description, class: "form-control", placeholder: "Tell us what you thought of #{@product.name}..." %>
        </div>
        <div class="form-group">
          <%= f.label 'Rating ' %>
          <%= f.select(:rating, (1..5))  %>
        </div>

        <%= f.submit "Submit", class: "btn btn-primary mb-2" %>
      <% end %>
    </div>
     
    <% @product.reviews.each do |review| %>
      <div class="well">
        <h4> <%= review.user.first_name %><%= review.user.last_name %> 
          <% review.rating.times do |star| %>
            🍯 
          <% end %>
        </h4>
        <p> <%= review.description %> </p>
      </div>
    <% end %>
  

</section>
