<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= @product.reviews.average(:rating) %>
        </dl>
      </div>
    </div>

  </article>
 
  <h2 class="page-header"> Reviews </h2>
    <div class="well">
      <%= render partial:'reviews/review' %>
    </div>
     
    <% @product.reviews.reverse.each do |review| %>
      <div class="well">
        <div class='review-header'>
          <h4> <%= review.user.first_name %><%= review.user.last_name %> 
            <% review.rating.times do |star| %>
              ⭐️
            <% end %>
          </h4>

          <% if current_user && review.user_id == current_user.id %>
            <%= link_to fa_icon('trash'), review, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          
          <% end %>
        </div>
        <div class='row'>
          <p class="col-md-10"> <%= review.description %> </p>
        </div>
      </div>
    <% end %>
  

</section>
